<!-- import-riders.component.html -->
<div class="container">

<!-- Liste des cours -->
<div class="row" *ngIf="!editMode">
  <div class="col-12">
    <div class="row">
      <div class="col-8" *ngIf="est_admin">
        <h2>Importer les riders</h2>
        <div class="mb-3 row">
          <label for="formFile col-3" class="form-label">Importer les riders</label>
          <input class="form-control col-6" type="file" id="formFile" (change)="onFileChange($event)">
          <button type="button col-3" class="btn btn-outline-success" (click)="importData()">Importer les riders</button>
        </div>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-outline-success" (click)="creerRiders()">Créer</button>

      </div>
    </div>
    <h2>Liste des riders</h2>
    <table *ngIf="ridersList && ridersList.length> 0">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Inscrit</th>
          <th>Niveau</th>
          <th>Age</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rider of ridersList" style="cursor: pointer;"  (click)="editerRiders(rider)">
          <td>{{ rider.nom }}</td>
          <td>{{ rider.prenom }}</td>
          <td>{{ rider.est_inscrit }}</td>
          <td>{{ rider.niveau }}</td>
          <td>{{ calculateAge(rider.date_naissance)}}</td>
          <td>           
            <button class="btn btn-outline-danger" (click)="supprimerRiders(rider)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!ridersList || ridersList.length ==0">Pas de riders disponible</p>
  </div>
</div>

<!-- Formulaire d'édition/création de cours -->
<!-- Formulaire d'édition/création de cours -->
<div *ngIf="editMode">
  <div class="col-12 col-md-6" style="margin: 5px;">
    <h2 class="mat-h2">{{ editRider.id==0 ? "Créer" : "Editer" }} un cours</h2>
    <div class="form-group">
      <label for="nom_rider">Nom du Rider</label>
      <input class="form-control" id="nom_rider" type="text" [(ngModel)]="editRider.nom" placeholder="Nom du Rider">
    </div>
    <div class="form-group">
      <label for="prenom_rider">Prénom du Rider</label>
      <input class="form-control" id="prenom_rider" type="text" [(ngModel)]="editRider.prenom"
        placeholder="Prénom du Rider">
    </div>

    <div class="form-group">
      <label for="date_naissance">Date de naissance :</label>
      <input class="form-control" id="date_naissance" matInput type="date" [(ngModel)]="editRider.date_naissance">
    </div>
    <div class="form-group">
      <label for="email">Mail :</label>
      <input class="form-control" matInput type="email" id="email" [(ngModel)]="editRider.email"
        placeholder="Email du compte">
    </div>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
      <label class="btn btn-outline-primary" for="btnradio1">Homme</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio2">Femme</label>
    </div>
    <div class="form-group">
      <label for="telephone">Téléphone :</label>
      <input class="form-control" matInput type="phone" id="telephone" [(ngModel)]="editRider.telephone">
    </div>
    <div class="form-group">
      <label for="personne_prevenir">Personne à prévenir :</label>
      <input class="form-control" matInput type="text" id="personne_prevenir" [(ngModel)]="editRider.personne_prevenir">
    </div>
    <div class="form-group">
      <label for="telephone_personne_prevenir">Téléphone personne à prévenir :</label>
      <input class="form-control" matInput type="phone" id="telephone_personne_prevenir"
        [(ngModel)]="editRider.telephone_personne_prevenir">
    </div>

    <div class="form-group">
      <label for="niveau_requis">Niveau :</label>
      <select id="niveau_requis" class="form-control" [(ngModel)]="editRider.niveau" placeholder="Niveau">
        <!-- Options pour les professeurs -->
        <ng-container *ngFor="let niveau of niveauxRequis">
          <option [value]="niveau">{{niveau}}</option>
        </ng-container>
      </select>
    </div>
    <div class="p-3 m-0 "> <button class="btn btn-outline-success btn-lg m-3" mat-raised-button
        (click)="soumettreRiders()">
        {{ editRider.id==0 ? "Créer" : "Mettre à jour" }}
      </button>
      <button class="btn btn-outline-danger btn-lg m-3" mat-raised-button (click)="annulerEdition()">Annuler</button>

    </div>


  </div>
</div>
</div>