.stickyNotificationArea {
    position: fixed;
    right: 20px;
    top: 40px;
    z-index: 5000;
}

.stickyNotificationWrapper {
    margin-left: 15vw;
    max-width: 800px;
    min-width: 33%;
    text-align: right;
}

.stickyNotification {
    max-width: 800px;
    display: inline-block;
    text-align: left;
    cursor: pointer;
}