<div class="container">
  <div class="row" *ngIf="!editMode && (est_admin || est_prof)">
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-header text-bg-ivry ">Menu administrateur</div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <button type="button" class="btn btn-outline-success" (click)="creerSeance()">Créer</button>
            </div>
            <div class="col-4">
              <label for="seasons" class="form-label">Choisir une saison</label>
              <select id="seasons" class="form-control" [(ngModel)]="season_id" placeholder="Choisir la saison">
                <!-- Options pour les professeurs -->
                <ng-container *ngFor="let season of seasons">
                  <option [value]="season.key">{{season.value}}</option>
                </ng-container>
              </select>


              <button type="button" class="btn btn-outline-success" (click)="Filtrer()">Filtrer</button>
              <button type="button" class="btn btn-outline-success" (click)="FiltrerBack()">Réinitialiser</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!editMode">
    <h2>Liste des séances</h2>
    <table *ngIf="listeSeances && listeSeances.length > 0">
      <thead>
        <tr>
          <th>Cours</th>
          <th>Date de la séance</th>
          <th>Heure de début</th>
          <th>Durée (en minutes)</th>
          <th>Lieu</th>
          <th>Statut</th>
          <th>Professeurs</th>
          <th>Âge requis</th>
          <th>Niveau requis</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let seance of listeSeances">
        <tr [title]="seance.info_seance" style="cursor: pointer;" (click)="editerSeance(seance)">
          <td>{{ seance.libelle }}</td>
          <td>{{ seance.date_seance | date: 'dd/MM/yyyy' }}</td>
          <td>{{ seance.heure_debut }}</td>
          <td>{{ seance.duree_cours }}</td>
          <td>{{ seance.lieu }}</td>
          <td>{{ seance.statut }}</td>
          <td>
            <ul>
              <ng-container *ngFor="let profId of seance.professeurs">
                <li> {{profId.value}}</li>
              </ng-container>
            </ul>
          </td>
          <td>{{ seance.age_requis }} à {{seance.age_maximum}}</td>
          <td>{{ seance.niveau_requis }}</td>
          <td>
            <button class="btn btn-outline-danger" (click)="supprimerSeance(seance)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-trash3-fill"
                viewBox="0 0 16 16">
                <path
                  d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
              </svg>
            </button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <p *ngIf="!listeSeances || listeSeances.length === 0">Pas de séances disponibles</p>
  </div>

  <!-- Formulaire d'édition/création de séance -->
  <div *ngIf="editMode">
    <div class="row">
      <div class="card col-md-6">
        <div class="card-header">
          Informations de la séance
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12" style="margin: 5px;">
              <h2 class="mat-h2">{{ editSeance.seance_id==0 ? "Créer" : "Editer" }} une séance</h2>
              <div class="form-group">
                <label for="cours">Cours</label>
                <select class="form-control" id="cours" [(ngModel)]="editSeance.cours" placeholder="Cours"
                  (ngModelChange)="onCoursSelectionChange($event)">
                  <option *ngFor="let cours of listeCours" [value]="cours.id">{{ cours.nom }}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="date_seance">Date de la séance <p *ngIf="editSeance.cours">&nbsp;({{jour_semaine}})</p>
                  </label>
                <input class="form-control" id="date_seance" type="date" [(ngModel)]="editSeance.date_seance">
              </div>
              <div class="form-group">
                <label for="libelle">Libelle :</label>
                <input matInput class="form-control" id="libelle" type="text" [disabled]="!coursselectionne"
                  [(ngModel)]="editSeance.libelle">
              </div>
              <div class="form-group">
                <label for="heure_debut">Heure de début :</label>
                <input matInput class="form-control" id="heure_debut" type="time" [disabled]="!coursselectionne"
                  [(ngModel)]="editSeance.heure_debut">
              </div>
              <div class="form-group">
                <label for="date_seance">Durée de la séance</label>
                <input class="form-control" id="duree_cours" type="number" [(ngModel)]="editSeance.duree_cours">
              </div>
              <div class="form-group">
                <label for="lieu">Lieu</label>
                <select class="form-control" id="lieu" [(ngModel)]="editSeance.lieu_id" [disabled]="!coursselectionne"
                  placeholder="Lieu">
                  <option *ngFor="let lieu of listelieu" [value]="lieu.key">{{ lieu.value }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="statut">Statut</label>
                <select class="form-control" id="statut" [(ngModel)]="editSeance.statut" placeholder="Statut">
                  <option value="prévue">Prévue</option>
                  <option value="réalisée">Réalisée</option>
                  <option value="annulée">Annulée</option>
                </select>
              </div>
              <div class="form-group">
                <label for="professeurs">Professeurs présents</label>
                <br />
                <ng-container *ngFor="let prof of editSeance.professeurs">
                  <h5 class="badge rounded-pill bg-primary" (click)="RemoveProf(prof)">{{prof.value}} <i
                      class="bi bi-x-square"></i></h5>
                </ng-container><br />
                <label for="statut">Professeurs disponibles</label>
                <select class="form-control" id="professeurs" [(ngModel)]="current_prof">
                  <ng-container *ngFor="let prof of prof_dispo">
                    <option [value]="prof.key">{{ prof.value }}</option>
                  </ng-container>
                </select>
                <button type="button" class="btn btn-outline-success" (click)="AjouterProf()">Ajouter</button>
              </div>
              <div class="form-group">
                <label for="age_requis">Âge minimum requis : </label>
                <input class="form-control" id="age_requis" type="number" [disabled]="!coursselectionne"
                  [(ngModel)]="editSeance.age_requis">
              </div>
              <div class="form-group">
                <label for="age_maximum">Âge maximum : </label>
                <input class="form-control" id="age_maximum" type="number" [disabled]="!coursselectionne"
                  [(ngModel)]="editSeance.age_maximum">
              </div>
              <div class="form-group">
                <label for="professeurs">Niveaux acceptés</label>
                <br />
                <ng-container *ngFor="let niv of editSeance.niveau_requis">
                  <h5 class="badge rounded-pill bg-primary" (click)="RemoveNiveau(niv)">{{niv}} <i
                      class="bi bi-x-square"></i></h5>
                </ng-container><br />
                <label for="statut">Niveaux disponibles</label>
                <select class="form-control" id="professeurs" [(ngModel)]="current_niveau">
                  <ng-container *ngFor="let ni of niveau_dispo">
                    <option [value]="ni">{{ ni }}</option>
                  </ng-container>
                </select>
                <button type="button" class="btn btn-outline-success" (click)="AjouterNiveau()">Ajouter</button>
              </div>
             
              <div class="form-group">
                <label for="place_maximum">Info séance : </label>
                <textarea class="form-control" [(ngModel)]="editSeance.info_seance" aria-label="Info pour la séance"></textarea>
              </div>
              <div class="form-group">
                <label for="place_maximum">Place maximum (laissez vide si illimité) : </label>
                <input class="form-control" id="place_maximum" type="number" [(ngModel)]="editSeance.place_maximum">
              </div>
              <div class="form-group">
                <div class="essai">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                    [(ngModel)]="editSeance.essai_possible">
                  <label class="form-check-label" for="flexSwitchCheckChecked">Essai possible</label>
                </div>
              </div>
              <button class="btn btn-outline-success" [disabled]="!coursselectionne" (click)="soumettreSeance()">
                {{ editSeance.seance_id === 0 ?"Créer" : "Mettre à jour" }}
              </button>
              <button class="btn btn-outline-danger" (click)="annulerEdition()">Annuler</button>
              <button *ngIf="est_admin && editSeance.seance_id > 0" class="btn btn-outline-info"
                (click)="VoirMaSeance()">Vue professeur
              </button>
            </div>