<div class="container">
  <div class="row" *ngIf="!editMode && est_admin">
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-header text-bg-ivry ">Menu administrateur</div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <button type="button" class="btn btn-outline-success" (click)="creerCours()">Créer</button>
            </div>
            <div class="col-4">
              <label for="seasons" class="form-label">Choisir une saison</label>
              <select id="seasons" class="form-control" [(ngModel)]="season_id" placeholder="Choisir la saison">
                <!-- Options pour les professeurs -->
                <ng-container *ngFor="let season of seasons">
                  <option [value]="season.key">{{season.value}}</option>
                </ng-container>
              </select>


              <button type="button" class="btn btn-outline-success" (click)="Filtrer()">Filtrer</button>
              <button type="button" class="btn btn-outline-success" (click)="FiltrerBack()">Réinitialiser</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!editMode">
    <h2>Liste des cours</h2>
    <table *ngIf="listeCours && listeCours.length> 0">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Jour de la semaine</th>
          <th>Heure</th>
          <th>Durée (en minutes)</th>
          <th>Professeur Principal</th>
          <th>Gymnase Référence</th>
          <th>Âge requis</th>
          <th>Niveau requis</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cours of listeCours" style="cursor: pointer;" (click)="editerCours(cours)">
          <td>{{ cours.nom }}</td>
          <td>{{ cours.jour_semaine }}</td>
          <td>{{ cours.heure }}</td>
          <td>{{ cours.duree }}</td>
          <td>{{ trouverProfesseur(cours.prof_principal_id)?.value }}</td>
          <td>{{ trouverGymnase(cours.lieu_id)?.value }}</td>
          <td>{{ cours.age_requis }}</td>
          <td>{{ cours.niveau_requis}}</td>
          <td>
            <button class="btn btn-outline-danger" (click)="supprimerCours(cours)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-trash3-fill"
                viewBox="0 0 16 16">
                <path
                  d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!listeCours || listeCours.length ==0">Pas de cours disponible</p>
  </div>

  <!-- Formulaire d'édition/création de cours -->
  <!-- Formulaire d'édition/création de cours -->
 <div *ngIf="editMode">
  <div class="row">
    <div class="card col-md-6">
      <div class="card-header">
        Informations de la séance
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12" style="margin: 5px;">
            <h2 class="mat-h2">{{ editCours.id==0 ? "Créer" : "Editer" }} un cours</h2>
            <div class="form-group">
              <label for="nom_cours">Nom du cours</label>
              <input class="form-control" id="nom_cours" type="text" [(ngModel)]="editCours.nom"
                placeholder="Nom du cours">
            </div>

            <div class="form-group">
              <label for="jour_semaine">Jour de la semaine :</label>
              <select class="form-control" id="jour_semaine" [(ngModel)]="editCours.jour_semaine"
                placeholder="Jour de la semaine">
                <option value="lundi">Lundi</option>
                <option value="mardi">Mardi</option>
                <option value="mercredi">Mercredi</option>
                <option value="jeudi">Jeudi</option>
                <option value="vendredi">Vendredi</option>
                <option value="samedi">Samedi</option>
                <option value="dimanche">Dimanche</option>
              </select>
            </div>
            <div class="form-group">
              <label for="heure_cours">Heure de début :</label>
              <input class="form-control" id="heure_cours" matInput type="time" [(ngModel)]="editCours.heure">
            </div>
            <div class="form-group">
              <label for="duree_cours">Durée du cours :</label>
              <input class="form-control" matInput type="number" id="duree_cours" [(ngModel)]="editCours.duree"
                placeholder="Durée (en minutes)">
            </div>
            <div class="form-group">
              <label for="resp_cours">Responsable du cours :</label>
              <select id="resp_cours" class="form-control" [(ngModel)]="editCours.prof_principal_id"
                placeholder="Professeur Principal">
                <!-- Options pour les professeurs -->
                <ng-container *ngFor="let prof of listeprof">
                  <option [value]="prof.key">{{prof.value}}</option>
                </ng-container>
              </select>
            </div>
            <div class="form-group">
              <label for="lieu_cours">Lieu du cours :</label>
              <select id="lieu_cours" class="form-control" [(ngModel)]="editCours.lieu_id" placeholder="Lieu du cours">
                <!-- Options pour les professeurs -->
                <ng-container *ngFor="let lieu of listelieu">
                  <option [value]="lieu.key">{{lieu.value}}</option>
                </ng-container>
              </select>
            </div>
            <div class="form-group">
              <label for="age_minimum">Age minimum :</label>
              <input class="form-control" matInput type="number" id="age_minimum" [(ngModel)]="editCours.age_requis"
                placeholder="Age requis">
            </div>
            <div class="form-group">
              <label for="niveau_requis">Niveau requis :</label>
              <select id="niveau_requis" class="form-control" [(ngModel)]="editCours.niveau_requis"
                placeholder="Niveau requis">
                <!-- Options pour les professeurs -->
                <ng-container *ngFor="let niveau of niveauxRequis">
                  <option [value]="niveau">{{niveau}}</option>
                </ng-container>
              </select>
            </div>
            <div class="p-3 m-0 "> <button class="btn btn-outline-success btn-lg m-3" mat-raised-button
                (click)="soumettreCours()">
                {{ editCours.id==0 ? "Créer" : "Mettre à jour" }}
              </button>
              <button class="btn btn-outline-danger btn-lg m-3" mat-raised-button
                (click)="annulerEdition()">Annuler</button>

            </div>


          </div>
        </div>