<div class="row">
    <div class="col-12">
        <div class="accordion" [attr.id]="'accordionExample'">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#col_avant'" aria-expanded="true" [attr.aria-controls]="'col_avant'">
                        Elèves
                    </button>
                </h2>
                <div [id]="'col_avant'" class="accordion-collapse collapse show"
                    [attr.data-bs-parent]="'accordionExample'">
                    <div class="accordion-body">
                        <table div class="screen">
                            <thead>
                                <th>Nom et niveau</th>
                                <th>Inscription</th>
                                <th>Séance</th>
                                <th>Contact d'urgence</th>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let item of Liste; trackBy: trackByRiderId">
                                    <ng-container *ngIf="!item.statut_seance">

                                        <tr>
                                            <td style="display: flex;
                                            flex-direction: row;
                                            flex-wrap: wrap;
                                            align-items: center;
                                            justify-content: space-between;"><span
                                                    class="mr-1">{{item.rider_libelle}}</span>
                                                <div class="form-group">
                                                    <select id="niveau_requis" [disabled]="!item.edit"
                                                        class="form-control" [(ngModel)]="item.niveau"
                                                        placeholder="Niveau">
                                                        <ng-container *ngFor="let niveau of niveauxRequis">
                                                            <option [value]="niveau">{{niveau}}</option>
                                                        </ng-container>

                                                    </select>
                                                </div>
                                                <i style="cursor: pointer;"
                                                    [ngStyle]="{'display': item.edit ? 'none' : 'block'}"
                                                    (click)="item.edit = true" class="bi bi-pencil"></i>
                                                <i style="cursor: pointer;"
                                                    [ngStyle]="{'display': !item.edit ? 'none' : 'block'}"
                                                    (click)="UpdateLevel(item)" class="bi bi-save-fill"></i>

                                            </td>
                                            <td>
                                                <ng-container *ngIf="item.statut">
                                                    <i *ngIf="item.statut.toString() == 'présent'"
                                                        style="font-size: 2rem;color: green;"
                                                        class="bi bi-check-circle-fill"></i>
                                                    <i *ngIf="item.statut.toString() == 'absent'"
                                                        style="font-size: 2rem;color: red;"
                                                        class="bi bi-x-circle-fill"></i>
                                                </ng-container>
                                                <ng-container *ngIf="!item.statut">
                                                    <i style="font-size: 2rem;color: gray;"
                                                        class="bi bi-question-circle-fill"></i>
                                                </ng-container>

                                            </td>
                                            <td>
                                                <div class="btn-group" role="group"
                                                    aria-label="Basic radio toggle button group">
                                                    <input type="radio" [(ngModel)]="item.statut_seance"
                                                        (ngModelChange)="UpdateStatut(item)" [value]="'présent'"
                                                        class="btn-check" [name]="'btnradio' + item.rider_id"
                                                        [id]="'btnradio1_item' + item.rider_id" autocomplete="off">
                                                    <label class="btn btn-outline-success"
                                                        [for]="'btnradio1_item' + item.rider_id">Présent</label>
                                                    <input type="radio" [(ngModel)]="item.statut_seance"
                                                        (ngModelChange)="UpdateStatut(item)" [value]="'absent'"
                                                        class="btn-check" [name]="'btnradio' + item.rider_id"
                                                        [id]="'btnradio2_item' + item.rider_id" autocomplete="off">
                                                    <label class="btn btn-outline-danger"
                                                        [for]="'btnradio2_item' + item.rider_id">Absent</label>


                                                </div>
                                            </td>
                                            <td>{{item.contact_urgence}}</td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </tbody>
                        </table>
                        <ul div class="mobile">
                            <ng-container *ngFor="let item of Liste; trackBy: trackByRiderId">
                                <ng-container *ngIf="!item.statut_seance">

                                    <li>
                                        <div>
                                            <ng-container *ngIf="item.statut">
                                                <ng-container *ngIf="item.statut.toString() == 'présent'">
                                                    <div style="display: flex;flex-direction: column;flex-wrap: wrap;">
                                                        <span class="present"><strong>{{item.rider_libelle}}
                                                            </strong>
                                                        </span>
                                                        <div class="form-group" style="display: flex;
                                                            flex-direction: row;
                                                            flex-wrap: nowrap;
                                                            justify-content: space-between;
                                                            align-content: center;
                                                            align-items: center;">
                                                            <select id="niveau_requis" [disabled]="!item.edit"
                                                                class="form-control" [(ngModel)]="item.niveau"
                                                                placeholder="Niveau">
                                                                <ng-container *ngFor="let niveau of niveauxRequis">
                                                                    <option [value]="niveau">{{niveau}}</option>
                                                                </ng-container>
                                                            </select><i style="cursor: pointer; margin-left: 10px;"
                                                                [ngStyle]="{'display': item.edit ? 'none' : 'block'}"
                                                                (click)="item.edit=true" class="bi bi-pencil"></i>
                                                            <i style="cursor: pointer; margin-left: 10px;"
                                                                [ngStyle]="{'display': !item.edit ? 'none' : 'block'}"
                                                                (click)="UpdateLevel(item)" class="bi bi-save-fill"></i>

                                                        </div>

                                                        <span class="present">({{item.contact_urgence}})</span>
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="item.statut.toString() == 'absent'">
                                                    <div style="display: flex;flex-direction: column;flex-wrap: wrap;">
                                                        <span class="absent"><strong>{{item.rider_libelle}}
                                                            </strong>
                                                        </span>
                                                        <div class="form-group" style="display: flex;
                                                            flex-direction: row;
                                                            flex-wrap: nowrap;
                                                            justify-content: space-between;
                                                            align-content: center;
                                                            align-items: center;">
                                                            <select id="niveau_requis" [disabled]="!item.edit"
                                                                class="form-control" [(ngModel)]="item.niveau"
                                                                placeholder="Niveau">
                                                                <ng-container *ngFor="let niveau of niveauxRequis">
                                                                    <option [value]="niveau">{{niveau}}</option>
                                                                </ng-container>
                                                            </select><i style="cursor: pointer; margin-left: 10px;"
                                                                [ngStyle]="{'display': item.edit ? 'none' : 'block'}"
                                                                (click)="item.edit=true" class="bi bi-pencil"></i>
                                                            <i style="cursor: pointer; margin-left: 10px;"
                                                                [ngStyle]="{'display': !item.edit ? 'none' : 'block'}"
                                                                (click)="UpdateLevel(item)" class="bi bi-save-fill"></i>

                                                        </div>

                                                        <span class="absent">({{item.contact_urgence}})</span>
                                                    </div>
                                                </ng-container>


                                            </ng-container>
                                            <ng-container *ngIf="!item.statut">
                                                <div style="display: flex;flex-direction: column;flex-wrap: wrap;">
                                                    <span class="non_inscrit"><strong>{{item.rider_libelle}}
                                                        </strong>
                                                    </span>
                                                    <div class="form-group" style="display: flex;
                                                        flex-direction: row;
                                                        flex-wrap: nowrap;
                                                        justify-content: space-between;
                                                        align-content: center;
                                                        align-items: center;">
                                                        <select id="niveau_requis" [disabled]="!item.edit"
                                                            class="form-control" [(ngModel)]="item.niveau"
                                                            placeholder="Niveau">
                                                            <ng-container *ngFor="let niveau of niveauxRequis">
                                                                <option [value]="niveau">{{niveau}}</option>
                                                            </ng-container>
                                                        </select><i style="cursor: pointer; margin-left: 10px;"
                                                            [ngStyle]="{'display': item.edit ? 'none' : 'block'}"
                                                            (click)="item.edit=true" class="bi bi-pencil"></i>
                                                        <i style="cursor: pointer; margin-left: 10px;"
                                                            [ngStyle]="{'display': !item.edit ? 'none' : 'block'}"
                                                            (click)="UpdateLevel(item)" class="bi bi-save-fill"></i>

                                                    </div>

                                                    <span class="non_inscrit">({{item.contact_urgence}})</span>
                                                </div>
                                            </ng-container>


                                            <span>

                                            </span>
                                        </div>
                                        <span>
                                            <div class="btn-group" role="group"
                                                aria-label="Basic radio toggle button group">
                                                <input type="radio" [(ngModel)]="item.statut_seance"
                                                    (ngModelChange)="UpdateStatut(item)" [value]="'présent'"
                                                    class="btn-check" [name]="'btnradio' + item.rider_id"
                                                    [id]="'btnradio1_item' + item.rider_id" autocomplete="off">
                                                <label class="btn btn-outline-success"
                                                    [for]="'btnradio1_item' + item.rider_id">Présent</label>
                                                <input type="radio" [(ngModel)]="item.statut_seance"
                                                    (ngModelChange)="UpdateStatut(item)" [value]="'absent'"
                                                    class="btn-check" [name]="'btnradio' + item.rider_id"
                                                    [id]="'btnradio2_item' + item.rider_id" autocomplete="off">
                                                <label class="btn btn-outline-danger"
                                                    [for]="'btnradio2_item' + item.rider_id">Absent</label>


                                            </div>
                                        </span>
                                    </li>
                                </ng-container>
                            </ng-container>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapseOne'" aria-expanded="true"
                        [attr.aria-controls]="'collapseOne'">
                        Présents à la séance
                    </button>
                </h2>
                <div [id]="'collapseOne'" class="accordion-collapse collapse show"
                    [attr.data-bs-parent]="'accordionExample'">
                    <div class="accordion-body">
                        <table class="screen">
                            <thead>
                                <th>Nom et niveau</th>
                                <th>Inscription</th>
                                <th>Séance</th>
                                <th>Contact d'urgence</th>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let present of Liste; trackBy: trackByRiderId">
                                    <ng-container *ngIf="present.statut_seance">
                                        <ng-container *ngIf="present.statut_seance.toString() == 'présent'">

                                            <tr>
                                                <td style="display: flex;
                                                flex-direction: row;
                                                flex-wrap: wrap;
                                                align-items: center;
                                                justify-content: space-between;"><span
                                                        class="mr-1">{{present.rider_libelle}}</span>
                                                    <div class="form-group">
                                                        <select id="niveau_requis" [disabled]="!present.edit"
                                                            class="form-control" [(ngModel)]="present.niveau"
                                                            placeholder="Niveau">
                                                            <ng-container *ngFor="let niveau of niveauxRequis">
                                                                <option [value]="niveau">{{niveau}}</option>
                                                            </ng-container>
                                                        </select>
                                                    </div>

                                                    <i style="cursor: pointer;"
                                                        [ngStyle]="{'display': present.edit ? 'none' : 'block'}"
                                                        (click)="UpdateLevel(present)" class="bi bi-pencil"></i>

                                                    <i style="cursor: pointer;"
                                                        [ngStyle]="{'display': !present.edit ? 'none' : 'block'}"
                                                        (click)="UpdateLevel(present)" class="bi bi-save-fill"></i>

                                                </td>
                                                <td>
                                                    <ng-container *ngIf="present.statut">
                                                        <i *ngIf="present.statut.toString() == 'présent'"
                                                            style="font-size: 2rem;color: green;"
                                                            class="bi bi-check-circle-fill"></i>
                                                        <i *ngIf="present.statut.toString() == 'absent'"
                                                            style="font-size: 2rem;color: red;"
                                                            class="bi bi-x-circle-fill"></i>
                                                    </ng-container>
                                                    <ng-container *ngIf="!present.statut">
                                                        <i style="font-size: 2rem;color: gray;"
                                                            class="bi bi-question-circle-fill"></i>
                                                    </ng-container>

                                                </td>
                                                <td>
                                                    <div class="btn-group" role="group"
                                                        aria-label="Basic radio toggle button group">

                                                        <input type="radio" [(ngModel)]="present.statut_seance"
                                                            (ngModelChange)="UpdateStatut(present)" [value]="'présent'"
                                                            class="btn-check"
                                                            [name]="'btnradio_present' + present.rider_id"
                                                            [id]="'btnradio1_present' + present.rider_id"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            [for]="'btnradio1_present' + present.rider_id">Présent</label>

                                                        <input type="radio" [(ngModel)]="present.statut_seance"
                                                            (ngModelChange)="UpdateStatut(present)" [value]="'absent'"
                                                            class="btn-check"
                                                            [name]="'btnradio_present' + present.rider_id"
                                                            [id]="'btnradio2_present' + present.rider_id"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-danger"
                                                            [for]="'btnradio2_present' + present.rider_id">Absent</label>


                                                    </div>
                                                </td>
                                                <td>{{present.contact_urgence}}</td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </tbody>
                        </table>
                        <ul div class="mobile">
                            <ng-container *ngFor="let present of Liste; trackBy: trackByRiderId">
                                <ng-container *ngIf="present.statut_seance">
                                    <ng-container *ngIf="present.statut_seance.toString() == 'présent'">
                                        <li>
                                            <div>
                                                <ng-container *ngIf="present.statut">
                                                    <ng-container *ngIf="present.statut.toString() == 'présent'">
                                                        <div
                                                            style="display: flex;flex-direction: column;flex-wrap: wrap;">
                                                            <span
                                                                class="present"><strong>{{present.rider_libelle}}</strong>
                                                            </span>
                                                            <div class="form-group" style="display: flex;
                                                                flex-direction: row;
                                                                flex-wrap: nowrap;
                                                                justify-content: space-between;
                                                                align-content: center;
                                                                align-items: center;">
                                                                <select id="niveau_requis" [disabled]="!present.edit"
                                                                    class="form-control" [(ngModel)]="present.niveau"
                                                                    placeholder="Niveau">
                                                                    <ng-container *ngFor="let niveau of niveauxRequis">
                                                                        <option [value]="niveau">{{niveau}}</option>
                                                                    </ng-container>
                                                                </select>
                                                                <i style="cursor: pointer; margin-left: 10px;"
                                                                    [ngStyle]="{'display': present.edit ? 'none' : 'block'}"
                                                                    (click)="present.edit = true"
                                                                    class="bi bi-pencil"></i>
                                                                <i style="cursor: pointer; margin-left: 10px;"
                                                                    [ngStyle]="{'display': !present.edit ? 'none' : 'block'}"
                                                                    (click)="UpdateLevel(present)"
                                                                    class="bi bi-save-fill"></i>

                                                            </div>

                                                            <span class="present">({{present.contact_urgence}})</span>
                                                        </div>
                                                    </ng-container>
                                                    <ng-container *ngIf="present.statut.toString() == 'absent'">
                                                        <div
                                                            style="display: flex;flex-direction: column;flex-wrap: wrap;">
                                                            <span
                                                                class="absent"><strong>{{present.rider_libelle}}</strong>
                                                            </span>
                                                            <div class="form-group" style="display: flex;
                                                                flex-direction: row;
                                                                flex-wrap: nowrap;
                                                                justify-content: space-between;
                                                                align-content: center;
                                                                align-items: center;">
                                                                <select id="niveau_requis" [disabled]="!present.edit"
                                                                    class="form-control" [(ngModel)]="present.niveau"
                                                                    placeholder="Niveau">
                                                                    <ng-container *ngFor="let niveau of niveauxRequis">
                                                                        <option [value]="niveau">{{niveau}}</option>
                                                                    </ng-container>
                                                                </select><i style="cursor: pointer; margin-left: 10px;"
                                                                    [ngStyle]="{'display': present.edit ? 'none' : 'block'}"
                                                                    (click)="present.edit=true"
                                                                    class="bi bi-pencil"></i>
                                                                <i style="cursor: pointer; margin-left: 10px;"
                                                                    [ngStyle]="{'display': !present.edit ? 'none' : 'block'}"
                                                                    (click)="UpdateLevel(present)"
                                                                    class="bi bi-save-fill"></i>

                                                            </div>

                                                            <span class="absent">({{present.contact_urgence}})</span>
                                                        </div>
                                                    </ng-container>

                                                </ng-container>
                                                <ng-container *ngIf="!present.statut">
                                                    <div style="display: flex;flex-direction: column;flex-wrap: wrap;">
                                                        <span
                                                            class="non_inscrit"><strong>{{present.rider_libelle}}</strong>
                                                        </span>
                                                        <div class="form-group" style="display: flex;
                                                            flex-direction: row;
                                                            flex-wrap: nowrap;
                                                            justify-content: space-between;
                                                            align-content: center;
                                                            align-items: center;">
                                                            <select id="niveau_requis" [disabled]="!present.edit"
                                                                class="form-control" [(ngModel)]="present.niveau"
                                                                placeholder="Niveau">
                                                                <ng-container *ngFor="let niveau of niveauxRequis">
                                                                    <option [value]="niveau">{{niveau}}</option>
                                                                </ng-container>
                                                            </select>
                                                            <i style="cursor: pointer; margin-left: 10px;"
                                                                [ngStyle]="{'display': present.edit ? 'none' : 'block'}"
                                                                (click)="present.edit=true"
                                                                class="bi bi-pencil"></i>
                                                            <i style="cursor: pointer; margin-left: 10px;"
                                                                [ngStyle]="{'display': !present.edit ? 'none' : 'block'}"
                                                                (click)="UpdateLevel(present)"
                                                                class="bi bi-save-fill"></i>

                                                        </div>

                                                        <span class="non_inscrit">({{present.contact_urgence}})</span>
                                                    </div>
                                                </ng-container>


                                                <span>

                                                </span>
                                            </div>
                                            <div class="btn-group" role="group"
                                                aria-label="Basic radio toggle button group">
                                                <input type="radio" [(ngModel)]="present.statut_seance"
                                                    (ngModelChange)="UpdateStatut(present)" [value]="'présent'"
                                                    class="btn-check" [name]="'btnradio' + present.rider_id"
                                                    [id]="'btnradio1_item' + present.rider_id" autocomplete="off">
                                                <label class="btn btn-outline-success"
                                                    [for]="'btnradio1_item' + present.rider_id">Présent</label>
                                                <span>

                                                </span>
                                            </div>
                                            <span>
                                                <div class="btn-group" role="group"
                                                    aria-label="Basic radio toggle button group">
                                                    <input type="radio" [(ngModel)]="present.statut_seance"
                                                        (ngModelChange)="UpdateStatut(present)" [value]="'présent'"
                                                        class="btn-check" [name]="'btnradio' + present.rider_id"
                                                        [id]="'btnradio1_item' + present.rider_id" autocomplete="off">
                                                    <label class="btn btn-outline-success"
                                                        [for]="'btnradio1_item' + present.rider_id">Présent</label>

                                                    <input type="radio" [(ngModel)]="present.statut_seance"
                                                        (ngModelChange)="UpdateStatut(present)" [value]="'absent'"
                                                        class="btn-check" [name]="'btnradio' + present.rider_id"
                                                        [id]="'btnradio2_item' + present.rider_id" autocomplete="off">
                                                    <label class="btn btn-outline-danger"
                                                        [for]="'btnradio2_item' + present.rider_id">Absent</label>


                                                </div>
                                            </span>
                                        </li>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#Absent'" aria-expanded="true" [attr.aria-controls]="'Absent'">
                        Absent à la séance
                    </button>
                </h2>
                <div [id]="'Absent'" class="accordion-collapse collapse show"
                    [attr.data-bs-parent]="'accordionExample'">
                    <div class="accordion-body">
                        <table class="screen">
                            <thead>
                                <th>Nom et niveau</th>
                                <th>Inscription</th>
                                <th>Présence séance</th>
                                <th>Contact d'urgence</th>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let absent of Liste; trackBy: trackByRiderId">
                                    <ng-container *ngIf="absent.statut_seance">
                                        <ng-container *ngIf="absent.statut_seance.toString() == 'absent'">

                                            <tr>
                                                <td style="display: flex;
                                                flex-direction: row;
                                                flex-wrap: wrap;
                                                align-items: center;
                                                justify-content: space-between;"><span
                                                        class="mr-1">{{absent.rider_libelle}}</span>
                                                    <div class="form-group">
                                                        <select id="niveau_requis" [disabled]="!absent.edit"
                                                            class="form-control" [(ngModel)]="absent.niveau"
                                                            placeholder="Niveau">
                                                            <ng-container *ngFor="let niveau of niveauxRequis">
                                                                <option [value]="niveau">{{niveau}}</option>
                                                            </ng-container>
                                                        </select>
                                                    </div>

                                                    <i style="cursor: pointer;"
                                                        [ngStyle]="{'display': absent.edit ? 'none' : 'block'}"
                                                        (click)="absent.edit = true" class="bi bi-pencil"></i>



                                                    <i style="cursor: pointer;"
                                                        [ngStyle]="{'display': !absent.edit ? 'none' : 'block'}"
                                                        (click)="UpdateLevel(absent)" class="bi bi-save-fill"></i>

                                                </td>
                                                <td>
                                                    <ng-container *ngIf="absent.statut">
                                                        <i *ngIf="absent.statut.toString() == 'présent'"
                                                            style="font-size: 2rem;color: green;"
                                                            class="bi bi-check-circle-fill"></i>
                                                        <i *ngIf="absent.statut.toString() == 'absent'"
                                                            style="font-size: 2rem;color: red;"
                                                            class="bi bi-x-circle-fill"></i>
                                                    </ng-container>
                                                    <ng-container *ngIf="!absent.statut">
                                                        <i style="font-size: 2rem;color: gray;"
                                                            class="bi bi-question-circle-fill"></i>
                                                    </ng-container>

                                                </td>
                                                <td>
                                                    <div class="btn-group" role="group"
                                                        aria-label="Basic radio toggle button group">
                                                        <input type="radio" [(ngModel)]="absent.statut_seance"
                                                            (ngModelChange)="UpdateStatut(absent)" [value]="'présent'"
                                                            class="btn-check"
                                                            [name]="'btnradio_absent' + absent.rider_id"
                                                            [id]="'btnradio1_absent' + absent.rider_id"
                                                            autocomplete="off">
                                                        <input type="radio" [(ngModel)]="absent.statut_seance"
                                                            (ngModelChange)="UpdateStatut(absent)" [value]="'présent'"
                                                            class="btn-check"
                                                            [name]="'btnradio_absent' + absent.rider_id"
                                                            [id]="'btnradio1_absent' + absent.rider_id"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            [for]="'btnradio1_absent' + absent.rider_id">Présent</label>

                                                        <input type="radio" [(ngModel)]="absent.statut_seance"
                                                            (ngModelChange)="UpdateStatut(absent)" [value]="'absent'"
                                                            class="btn-check"
                                                            [name]="'btnradio_absent' + absent.rider_id"
                                                            [id]="'btnradio2_absent' + absent.rider_id"
                                                            autocomplete="off">
                                                        <input type="radio" [(ngModel)]="absent.statut_seance"
                                                            (ngModelChange)="UpdateStatut(absent)" [value]="'absent'"
                                                            class="btn-check"
                                                            [name]="'btnradio_absent' + absent.rider_id"
                                                            [id]="'btnradio2_absent' + absent.rider_id"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-danger"
                                                            [for]="'btnradio2_absent' + absent.rider_id">Absent</label>


                                                    </div>
                                                </td>
                                                <td>{{absent.contact_urgence}}</td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </tbody>
                        </table>
                        <ul class="mobile">
                            <ng-container *ngFor="let absent of Liste; trackBy: trackByRiderId">
                                <ng-container *ngIf="absent.statut_seance">
                                    <ng-container *ngIf="absent.statut_seance.toString() == 'absent'">
                                        <li>
                                            <div>
                                                <ng-container *ngIf="absent.statut">
                                                    <ng-container *ngIf="absent.statut.toString() == 'présent'">
                                                        <div
                                                            style="display: flex;flex-direction: column;flex-wrap: wrap;">
                                                            <span class="present"><strong>{{absent.rider_libelle}}
                                                                </strong>
                                                            </span>
                                                            <div class="form-group" style="display: flex;
                                                            flex-direction: row;
                                                            flex-wrap: nowrap;
                                                            justify-content: space-between;
                                                            align-content: center;
                                                            align-items: center;">
                                                                <select id="niveau_requis" [disabled]="!absent.edit"
                                                                    class="form-control" [(ngModel)]="absent.niveau"
                                                                    placeholder="Niveau">
                                                                    <ng-container *ngFor="let niveau of niveauxRequis">
                                                                        <option [value]="niveau">{{niveau}}</option>
                                                                    </ng-container>
                                                                </select>
                                                                <i style="cursor: pointer; margin-left: 10px;"
                                                                    [ngStyle]="{'display': absent.edit ? 'none' : 'block'}"
                                                                    (click)="absent.edit=true"
                                                                    class="bi bi-pencil"></i>
                                                                <i style="cursor: pointer; margin-left: 10px;"
                                                                    [ngStyle]="{'display': !absent.edit ? 'none' : 'block'}"
                                                                    (click)="UpdateLevel(absent)"
                                                                    class="bi bi-save-fill"></i>

                                                            </div>

                                                            <span class="present">({{absent.contact_urgence}})</span>
                                                        </div>
                                                    </ng-container>
                                                    <ng-container *ngIf="absent.statut.toString() == 'absent'">
                                                        <div
                                                            style="display: flex;flex-direction: column;flex-wrap: wrap;">
                                                            <span class="absent"><strong>{{absent.rider_libelle}}
                                                                </strong>
                                                            </span>
                                                            <div class="form-group" style="display: flex;
                                                            flex-direction: row;
                                                            flex-wrap: nowrap;
                                                            justify-content: space-between;
                                                            align-content: center;
                                                            align-items: center;">
                                                                <select id="niveau_requis" [disabled]="!absent.edit"
                                                                    class="form-control" [(ngModel)]="absent.niveau"
                                                                    placeholder="Niveau">
                                                                    <ng-container *ngFor="let niveau of niveauxRequis">
                                                                        <option [value]="niveau">{{niveau}}</option>
                                                                    </ng-container>
                                                                </select><i style="cursor: pointer; margin-left: 10px;"
                                                                    [ngStyle]="{'display': absent.edit ? 'none' : 'block'}"
                                                                    (click)="absent.edit=true" class="bi bi-pencil"></i>
                                                                <i style="cursor: pointer; margin-left: 10px;"
                                                                    [ngStyle]="{'display': !absent.edit ? 'none' : 'block'}"
                                                                    (click)="UpdateLevel(absent)"
                                                                    class="bi bi-save-fill"></i>

                                                            </div>

                                                            <span class="absent">({{absent.contact_urgence}})</span>
                                                        </div>
                                                    </ng-container>

                                                </ng-container>
                                                <ng-container *ngIf="!absent.statut">
                                                    <div style="display: flex;flex-direction: column;flex-wrap: wrap;">
                                                        <span class="non_inscrit"><strong>{{absent.rider_libelle}}
                                                            </strong>
                                                        </span>
                                                        <div class="form-group" style="display: flex;
                                                            flex-direction: row;
                                                            flex-wrap: nowrap;
                                                            justify-content: space-between;
                                                            align-content: center;
                                                            align-items: center;">
                                                            <select id="niveau_requis" [disabled]="!absent.edit"
                                                                class="form-control" [(ngModel)]="absent.niveau"
                                                                placeholder="Niveau">
                                                                <ng-container *ngFor="let niveau of niveauxRequis">
                                                                    <option [value]="niveau">{{niveau}}</option>
                                                                </ng-container>
                                                            </select><i style="cursor: pointer; margin-left: 10px;"
                                                                [ngStyle]="{'display': absent.edit ? 'none' : 'block'}"
                                                                (click)="absent.edit=true" class="bi bi-pencil"></i>
                                                            <i style="cursor: pointer; margin-left: 10px;"
                                                                [ngStyle]="{'display': !absent.edit ? 'none' : 'block'}"
                                                                (click)="UpdateLevel(absent)"
                                                                class="bi bi-save-fill"></i>

                                                        </div>

                                                        <span class="non_inscrit">({{absent.contact_urgence}})</span>
                                                    </div>
                                                </ng-container>


                                                <span>

                                                </span>
                                            </div>
                                            <span>
                                                <div class="btn-group" role="group"
                                                    aria-label="Basic radio toggle button group">
                                                    <input type="radio" [(ngModel)]="absent.statut_seance"
                                                        (ngModelChange)="UpdateStatut(absent)" [value]="'présent'"
                                                        class="btn-check" [name]="'btnradio' + absent.rider_id"
                                                        [id]="'btnradio1_item' + absent.rider_id" autocomplete="off">
                                                    <label class="btn btn-outline-success"
                                                        [for]="'btnradio1_item' + absent.rider_id">Présent</label>



                                                    <input type="radio" [(ngModel)]="absent.statut_seance"
                                                        (ngModelChange)="UpdateStatut(absent)" [value]="'absent'"
                                                        class="btn-check" [name]="'btnradio' + absent.rider_id"
                                                        [id]="'btnradio2_item' + absent.rider_id" autocomplete="off">
                                                    <label class="btn btn-outline-danger"
                                                        [for]="'btnradio2_item' + absent.rider_id">Absent</label>


                                                </div>
                                            </span>
                                        </li>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h2>Inscrire des gens hors liste</h2>
<div class="row mt-1">
    <div class="col-12 col-md-6">
        <div class="display_flex">
            <div class="form-group">
                <label for="text_recherche">Taper 3 lettres du nom/prenom</label>
                <input type="text" id="text_recherche" class="form-control" [(ngModel)]="text_recherche" />
            </div>
            <button type="button" class=" input-group-text btn btn-success ml-1"
                (click)="RechercherAdherent()">Rechercher les adhérents</button>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="display_flex">

            <div class="form-group">
                <label for="adhrent_trouve">Sélectionner parmi les adhérents trouvés</label>
                <select id="adhrent_trouve" [disabled]="!liste_adherent" class="form-control"
                    [(ngModel)]="selected_adherent" placeholder="Adhérents trouvés">
                    <ng-container *ngFor="let adh of liste_adherent">
                        <option [value]="adh.key">{{adh.value}}</option>
                    </ng-container>
                </select>
            </div>
            <button type="button" [disabled]="!selected_adherent" class=" input-group-text btn btn-success ml-1"
                (click)="InscrireAdherent()">Inscrire l'adhérent</button>
        </div>
    </div>
</div>
<h2>Effectuer des notes</h2>
<div *ngIf="seance" class="row  mt-1">
    <div class="col-12">
        <div class="form-group">
            <span class="input-group-text">Notes</span>
            <textarea class="form-control" [(ngModel)]="seance.notes" aria-label="Notes de la séances"></textarea>
            <button type="button" class="btn btn-success ml-1" (click)="SauvegarderText()">Sauvegarder</button>
        </div>
    </div>
</div>
<h2 *ngIf="seance">Changer le statut de la séance</h2>
<div *ngIf="seance" class="row  mt-1">
    <div class="col-12">
        <ng-container *ngIf="seance.statut == 'prévue'">
            <button type="button" class="btn btn-danger"  [disabled]="messageAnnulation.length < 50"  (click)="AnnulerSeance()">Annuler la séance</button>
            <button type="button" class="btn btn-success" (click)="validerSeance()">Valider la séance</button>
        </ng-container>
    </div>
    <div class="form-group">
        <span class="input-group-text">Message d'annulation (obligatoire si annulation)</span>
        <textarea class="form-control" [(ngModel)]="messageAnnulation" aria-label="Message d'annulation"></textarea>
    </div>
</div>