<div class="card_jecha">
    <div class="title_card_jecha">
        <span class="text_title_card_jecha" *ngIf="seance">{{seance.libelle}} le {{ seance.date_seance | date:
            'dd/MM/yyyy' }}</span>
    </div>
    <div class="content_card_jecha">
        <div class="subcard_jecha" style="order: 0;">
            <div class="bloc_jecha">
                <h2>Inscrire des gens hors liste</h2>
                <div class="row_flex">
                    <div >
                        <div class="display_flex">
                                <label for="text_recherche">Taper 3 lettres du nom/prénom</label>
                                <input type="text" (input)="RechercherAdherent()" id="text_recherche" class="input_jecha" [(ngModel)]="text_recherche" />
                                <ul class="custom-dropdown" *ngIf="showDropdown">
                                    <li *ngFor="let adh of liste_adherent" (click)="selectAdherent(adh)">
                                        {{ adh.value }}
                                    </li>
                                </ul>
                        </div>
                       
                    </div>
                    <label *ngIf="selected_adherent" class="selected-adherent-label">Adhérent sélectionné : {{ selected_adherent.value }}</label>
                    <button type="button" [class]="selected_adherent ? 'outline_action_button button' : 'disabled_button'" [disabled]="!selected_adherent"  (click)="InscrireAdherent()">
                        
                        Inscrire l'adhérent</button>

                </div>
            </div>
            <div class="title_content_subcard_jecha" style="cursor: pointer;" (click)="afficher_eleve == true ? afficher_eleve = false : afficher_eleve = true">
                <span class="title_content_text_subcard_jecha" i18n> Eleves disponibles ({{NbListe()}})</span>
                <svg *ngIf="!afficher_eleve" width="20"  height="20">
                    <use xlink:href=".\assets\liste.svg#chevron-up" style="fill:rgb(0, 0, 0)"></use>
                </svg>
                <svg *ngIf="afficher_eleve" width="20" height="20">
                    <use xlink:href=".\assets\liste.svg#chevron-down" style="fill:rgb(0, 0, 0)"></use>
                </svg>
            </div>
            <hr class="line">
            
            <div *ngIf="afficher_eleve" class="content_subcard_jecha">
                <table div class="screen">
                    <thead>
                        <th>Nom</th>
                        <th>Inscription</th>
                        <th>Séance</th>
                        <th>Contact d'urgence</th>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of Liste; trackBy: trackByRiderId">
                            <ng-container *ngIf="!item.statut_seance">

                                <tr>
                                    <td><span class="mr-1">{{item.rider_libelle}}</span>

                                    </td>
                                    <td>
                                        <ng-container *ngIf="item.statut">
                                            <i *ngIf="item.statut.toString() == 'présent'"
                                                style="font-size: 2rem;color: green;"
                                                class="bi bi-check-circle-fill"></i>
                                            <i *ngIf="item.statut.toString() == 'absent'"
                                                style="font-size: 2rem;color: red;" class="bi bi-x-circle-fill"></i>
                                                <i *ngIf="item.statut.toString() == 'convoqué'"
                                                style="font-size: 2rem;color: blue;" class="bi bi-plus-circle-fill"></i>
                                        </ng-container>
                                        <ng-container *ngIf="!item.statut">
                                            <i style="font-size: 2rem;color: gray;"
                                                class="bi bi-question-circle-fill"></i>
                                        </ng-container>

                                    </td>
                                    <td>
                                        <div class="button_group">
                                            <button i18n-title title="Se déclarer présent"
                                                class="outline_action_button button" type="button"
                                                (click)="UpdateStatut(item, true)">
                                                <svg width="20" height="20">
                                                    <use xlink:href=".\assets\liste.svg#pouce_vert"></use>
                                                </svg>
                                                <span>Présent</span>
                                            </button>
                                            <button i18n-title title="Se déclarer absent"
                                                class="outline_quit_button button" type="button"
                                                (click)="UpdateStatut(item,false)">
                                                <svg width="20" height="20">
                                                    <use xlink:href=".\assets\liste.svg#pouce_rouge"></use>
                                                </svg>
                                                <span>Absent</span>
                                            </button>
                                        </div>
                                    </td>
                                    <td>{{item.contact_urgence}}</td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
                <!-- <ul div class="mobile">
                        <ng-container *ngFor="let item of Liste; trackBy: trackByRiderId">
                            <ng-container *ngIf="!item.statut_seance">

                                <li>
                                    <div>
                                        <ng-container *ngIf="item.statut">
                                            <ng-container *ngIf="item.statut.toString() == 'présent'">
                                                <div style="display: flex;flex-direction: column;flex-wrap: wrap;">
                                                    <span class="present"><strong>{{item.rider_libelle}}
                                                        </strong>
                                                    </span>

                                                    <span class="present">({{item.contact_urgence}})</span>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="item.statut.toString() == 'absent'">
                                                <div style="display: flex;flex-direction: column;flex-wrap: wrap;">
                                                    <span class="absent"><strong>{{item.rider_libelle}}
                                                        </strong>
                                                    </span>


                                                    <span class="absent">({{item.contact_urgence}})</span>
                                                </div>
                                            </ng-container>


                                        </ng-container>
                                        <ng-container *ngIf="!item.statut">
                                            <div style="display: flex;flex-direction: column;flex-wrap: wrap;">
                                                <span class="non_inscrit"><strong>{{item.rider_libelle}}
                                                    </strong>
                                                </span>


                                                <span class="non_inscrit">({{item.contact_urgence}})</span>
                                            </div>
                                        </ng-container>


                                        <span>

                                        </span>
                                    </div>
                                    <span>
                                        <div class="btn-group" role="group"
                                            aria-label="Basic radio toggle button group">
                                            <input type="radio" [(ngModel)]="item.statut_seance"
                                                (ngModelChange)="UpdateStatut(item)" [value]="'présent'"
                                                class="btn-check" [name]="'btnradio' + item.rider_id"
                                                [id]="'btnradio1_item' + item.rider_id" autocomplete="off">
                                            <label class="btn btn-outline-success"
                                                [for]="'btnradio1_item' + item.rider_id">Présent</label>
                                            <input type="radio" [(ngModel)]="item.statut_seance"
                                                (ngModelChange)="UpdateStatut(item)" [value]="'absent'"
                                                class="btn-check" [name]="'btnradio' + item.rider_id"
                                                [id]="'btnradio2_item' + item.rider_id" autocomplete="off">
                                            <label class="btn btn-outline-danger"
                                                [for]="'btnradio2_item' + item.rider_id">Absent</label>


                                        </div>
                                    </span>
                                </li>
                            </ng-container>
                        </ng-container>
                    </ul> -->
            </div>
        </div>

        <div class="subcard_jecha" style="order: 0;">
            <div class="title_content_subcard_jecha"  style="cursor: pointer;" (click)="afficher_present == true ? afficher_present = false : afficher_present = true">
                <span class="title_content_text_subcard_jecha" i18n> Elèves présents ({{NbListePresent()}})</span>
                <svg *ngIf="!afficher_present" width="20" height="20">
                    <use xlink:href=".\assets\liste.svg#chevron-up" style="fill:rgb(0, 0, 0)"></use>
                </svg>
                <svg *ngIf="afficher_present" width="20" height="20" >
                    <use xlink:href=".\assets\liste.svg#chevron-down" style="fill:rgb(0, 0, 0)"></use>
                </svg>
            </div>
            <hr class="line">
            <div *ngIf="afficher_present" class="content_subcard_jecha">
                <table class="screen">
                    <thead>
                        <th>Nom</th>
                        <th>Inscription</th>
                        <th>Séance</th>
                        <th>Contact d'urgence</th>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let present of Liste; trackBy: trackByRiderId">
                            <ng-container *ngIf="present.statut_seance">
                                <ng-container *ngIf="present.statut_seance.toString() == 'présent'">

                                    <tr>
                                        <td><span class="mr-1">{{present.rider_libelle}}</span>




                                        </td>

                                        <td>
                                            <ng-container *ngIf="present.statut">
                                                <i *ngIf="present.statut.toString() == 'présent'"
                                                style="font-size: 2rem;color: green;"
                                                class="bi bi-check-circle-fill"></i>
                                            <i *ngIf="present.statut.toString() == 'absent'"
                                                style="font-size: 2rem;color: red;" class="bi bi-x-circle-fill"></i>
                                                <i *ngIf="present.statut.toString() == 'convoqué'"
                                                style="font-size: 2rem;color: blue;" class="bi bi-plus-circle-fill"></i>
                                            </ng-container>
                                            <ng-container *ngIf="!present.statut">
                                                <i style="font-size: 2rem;color: gray;"
                                                    class="bi bi-question-circle-fill"></i>
                                            </ng-container>

                                        </td>
                                        <td>
                                            <div class="button_group">
                                                <button i18n-title title="Se déclarer présent"
                                                    class="action_button button" type="button"
                                                    >
                                                    <svg width="20" height="20">
                                                        <use xlink:href=".\assets\liste.svg#pouce_positif_blanc"></use>
                                                    </svg>
                                                    <span>Présent</span>
                                                </button>
                                                <button i18n-title title="Se déclarer absent"
                                                    class="outline_quit_button button" type="button"
                                                    (click)="UpdateStatut(present,false)">
                                                    <svg width="20" height="20">
                                                        <use xlink:href=".\assets\liste.svg#pouce_rouge"></use>
                                                    </svg>
                                                    <span>Absent</span>
                                                </button>
                                            </div>
                                        </td>
                                        <td>{{present.contact_urgence}}</td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
                <!-- <ul div class="mobile">
                        <ng-container *ngFor="let present of Liste; trackBy: trackByRiderId">
                            <ng-container *ngIf="present.statut_seance">
                                <ng-container *ngIf="present.statut_seance.toString() == 'présent'">
                                    <li>
                                        <div>
                                            <ng-container *ngIf="present.statut">
                                                <ng-container *ngIf="present.statut.toString() == 'présent'">
                                                    <div style="display: flex;flex-direction: column;flex-wrap: wrap;">
                                                        <span class="present"><strong>{{present.rider_libelle}}</strong>
                                                        </span>


                                                        <span class="present">({{present.contact_urgence}})</span>
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="present.statut.toString() == 'absent'">
                                                    <div style="display: flex;flex-direction: column;flex-wrap: wrap;">
                                                        <span class="absent"><strong>{{present.rider_libelle}}</strong>
                                                        </span>

                                                        <span class="absent">({{present.contact_urgence}})</span>
                                                    </div>
                                                </ng-container>

                                            </ng-container>
                                            <ng-container *ngIf="!present.statut">
                                                <div style="display: flex;flex-direction: column;flex-wrap: wrap;">
                                                    <span class="non_inscrit"><strong>{{present.rider_libelle}}</strong>
                                                    </span>


                                                    <span class="non_inscrit">({{present.contact_urgence}})</span>
                                                </div>
                                            </ng-container>


                                            <span>

                                            </span>
                                        </div>
                                        <span>
                                            <div class="btn-group" role="group"
                                                aria-label="Basic radio toggle button group">
                                                <input type="radio" [(ngModel)]="present.statut_seance"
                                                    (ngModelChange)="UpdateStatut(present)" [value]="'présent'"
                                                    class="btn-check" [name]="'btnradio' + present.rider_id"
                                                    [id]="'btnradio1_item' + present.rider_id" autocomplete="off">
                                                <label class="btn btn-outline-success"
                                                    [for]="'btnradio1_item' + present.rider_id">Présent</label>

                                                <input type="radio" [(ngModel)]="present.statut_seance"
                                                    (ngModelChange)="UpdateStatut(present)" [value]="'absent'"
                                                    class="btn-check" [name]="'btnradio' + present.rider_id"
                                                    [id]="'btnradio2_item' + present.rider_id" autocomplete="off">
                                                <label class="btn btn-outline-danger"
                                                    [for]="'btnradio2_item' + present.rider_id">Absent</label>


                                            </div>
                                        </span>
                                    </li>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ul> -->
            </div>
        </div>
        <div class="subcard_jecha" style="order: 0;">
            <div class="title_content_subcard_jecha"  style="cursor: pointer;" (click)="afficher_absent == true ? afficher_absent = false : afficher_absent = true">
                <span class="title_content_text_subcard_jecha" i18n> Elèves absents ({{NbListeAbsent()}})</span>
                <svg *ngIf="!afficher_absent" width="20" height="20">
                    <use xlink:href=".\assets\liste.svg#chevron-up" style="fill:rgb(0, 0, 0)"></use>
                </svg>
                <svg *ngIf="afficher_absent" width="20" height="20" >
                    <use xlink:href=".\assets\liste.svg#chevron-down" style="fill:rgb(0, 0, 0)"></use>
                </svg>
            </div>
            <hr class="line">
            <div class="content_subcard_jecha">
                <table class="screen">
                    <thead>
                        <th>Nom</th>
                        <th>Inscription</th>
                        <th>Présence séance</th>
                        <th>Contact d'urgence</th>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let absent of Liste; trackBy: trackByRiderId">
                            <ng-container *ngIf="absent.statut_seance">
                                <ng-container *ngIf="absent.statut_seance.toString() == 'absent'">

                                    <tr>
                                        <td style="display: flex;
                                                flex-direction: row;
                                                flex-wrap: wrap;
                                                align-items: center;
                                                justify-content: space-between;"><span
                                                class="mr-1">{{absent.rider_libelle}}</span>




                                        </td>
                                        <td>
                                            <ng-container *ngIf="absent.statut">
                                                <i *ngIf="absent.statut.toString() == 'présent'"
                                                style="font-size: 2rem;color: green;"
                                                class="bi bi-check-circle-fill"></i>
                                            <i *ngIf="absent.statut.toString() == 'absent'"
                                                style="font-size: 2rem;color: red;" class="bi bi-x-circle-fill"></i>
                                                <i *ngIf="absent.statut.toString() == 'convoqué'"
                                                style="font-size: 2rem;color: blue;" class="bi bi-plus-circle-fill"></i>
                                            </ng-container>
                                            <ng-container *ngIf="!absent.statut">
                                                <i style="font-size: 2rem;color: gray;"
                                                    class="bi bi-question-circle-fill"></i>
                                            </ng-container>

                                        </td>
                                        <td>
                                            <div class="button_group">
                                                <button i18n-title title="Se déclarer présent"
                                                    class="outline_action_button button" type="button" (click)="UpdateStatut(absent,true)"
                                                    >
                                                    <svg width="20" height="20">
                                                        <use xlink:href=".\assets\liste.svg#pouce_vert"></use>
                                                    </svg>
                                                    <span>Présent</span>
                                                </button>
                                                <button i18n-title title="Se déclarer absent"
                                                    class="quit_button button" type="button"
                                                    >
                                                    <svg width="20" height="20">
                                                        <use xlink:href=".\assets\liste.svg#pouce_negatif_blanc"></use>
                                                    </svg>
                                                    <span>Absent</span>
                                                </button>
                                            </div>
                                        </td>
                                        <td>{{absent.contact_urgence}}</td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
                <ul class="mobile">
                    <ng-container *ngFor="let absent of Liste; trackBy: trackByRiderId">
                        <ng-container *ngIf="absent.statut_seance">
                            <ng-container *ngIf="absent.statut_seance.toString() == 'absent'">
                                <li>
                                    <div>
                                        <ng-container *ngIf="absent.statut">
                                            <ng-container *ngIf="absent.statut.toString() == 'présent'">
                                                <div style="display: flex;flex-direction: column;flex-wrap: wrap;">
                                                    <span class="present"><strong>{{absent.rider_libelle}}
                                                        </strong>
                                                    </span>


                                                    <span class="present">({{absent.contact_urgence}})</span>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="absent.statut.toString() == 'absent'">
                                                <div style="display: flex;flex-direction: column;flex-wrap: wrap;">
                                                    <span class="absent"><strong>{{absent.rider_libelle}}
                                                        </strong>
                                                    </span>


                                                    <span class="absent">({{absent.contact_urgence}})</span>
                                                </div>
                                            </ng-container>

                                        </ng-container>
                                        <ng-container *ngIf="!absent.statut">
                                            <div style="display: flex;flex-direction: column;flex-wrap: wrap;">
                                                <span class="non_inscrit"><strong>{{absent.rider_libelle}}
                                                    </strong>
                                                </span>


                                                <span class="non_inscrit">({{absent.contact_urgence}})</span>
                                            </div>
                                        </ng-container>


                                        <span>

                                        </span>
                                    </div>
                                    <span>
                                        <div class="button_group">
                                            <button i18n-title title="Se déclarer présent"
                                                class="outline_action_button button" type="button" (click)="UpdateStatut(absent,false)"
                                                >
                                                <svg width="20" height="20">
                                                    <use xlink:href=".\assets\liste.svg#pouce_vert"></use>
                                                </svg>
                                                <span>Présent</span>
                                            </button>
                                            <button i18n-title title="Se déclarer absent"
                                                class="quit_button button" type="button"
                                                >
                                                <svg width="20" height="20">
                                                    <use xlink:href=".\assets\liste.svg#pouce_outline_rouge"></use>
                                                </svg>
                                                <span>Absent</span>
                                            </button>
                                        </div>
                                    </span>
                                </li>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</div>

<h2>Effectuer des notes</h2>
<div *ngIf="seance" class="row  mt-1">
    <div class="col-12">
        <div class="form-group">
            <span class="input-group-text">Notes</span>
            <textarea class="form-control" [(ngModel)]="seance.notes" aria-label="Notes de la séances"></textarea>
            <button type="button" class="btn btn-success ml-1" (click)="SauvegarderText()">Sauvegarder</button>
        </div>
    </div>
</div>
<h2 *ngIf="seance">Changer le statut de la séance</h2>
<div *ngIf="seance" class="row  mt-1">
    <div class="col-12">
        <ng-container *ngIf="seance.statut == 'prévue'">
            <button type="button" class="btn btn-danger" [disabled]="messageAnnulation.length < 50"
                (click)="AnnulerSeance()">Annuler la séance</button>
            <button type="button" class="btn btn-success" (click)="validerSeance()">Valider la séance</button>
        </ng-container>
    </div>
    <app-envoi-mail></app-envoi-mail>
</div>