<mat-card>
  <mat-card-title>Connexion</mat-card-title>
<mat-card-content>
<div class="row">
  <div class="form-group">
    <label for="username">Nom d'utilisateur :</label>
    <input class="form-control" type="text" id="username" name="username" [(ngModel)]="username" required>
  </div>
  <div>
    <label for="password">Mot de passe :</label>
    <input class="form-control"  type="password" id="password" name="password" [(ngModel)]="password" required>
  </div>
  <div  style="margin-bottom: 15px;display: none;">
    <label  for="toggle-switch">Resté connecté :</label>
    <div class="toggle-switch">
      <input type="checkbox" id="toggle" [(ngModel)]="stayLoggedIn">
      <label class="toggle-switch-label" for="toggle"></label>
    </div>
  </div>
  
</div>
<div class="row">
  <button class="btn btn-outline-success" type="submit" (click)="Login()">Connexion</button>
  <button class="btn btn-outline-info" type="submit" (click)="RecupMDP()">Réinitialiser le mot de passe</button>
  </div>

</mat-card-content>
</mat-card>


