/* menu-inscription.component.css */

/* Style pour les cartes */
.mat-card {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
    transition: box-shadow 0.3s ease; /* Animation pour l'ombre lorsqu'on se met dessus */
    cursor: pointer;
  }
  
  /* Style pour les en-têtes des cartes */
  .mat-card-header {
    background-color: #BB1919;
    color: #FFFFFF;
    padding: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  /* Style pour le titre des cartes */
  .mat-card-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Style pour le sous-titre des cartes */
  .mat-card-subtitle {
    font-size: 14px;
  }
  
  /* Style pour le contenu des cartes */
  .mat-card-content {
    padding: 8px;
  }
  
  /* Style pour l'ombre des cartes lorsque la souris est dessus */
  .mat-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée */
  }
  
  .souscarte{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1px;
    margin: 1px;
    font-size: large;
  }
  .souscarte  * {
    padding: 5px;
}

.ligne_haute{
  border-color:#BB1919;
  border-style: double;justify-content: center;

}