$accordion-color: var(--bs-danger-bg-subtle);
$purple : #5D3891;
$purple-shadow : rgba(93, 56, 145, 0.75);
$orange : #F99417;
$gray : #F5F5F5;


/*#region old_version*/
.accordion {
  background-color: $accordion-color;
  // Autres styles personnalisés pour l'accordéon
}

.accordion-button {
  background-color: $accordion-color;

  &:not(.collapsed) {
    background-color: $accordion-color;
    font-weight: bold;
  }
}

text-bg-ivry {
  /* Hérite des propriétés de la classe .btn de Bootstrap */
  @extend .text-bg-danger !optional;
  /* Ajoutez vos propres propriétés personnalisées ici */
  background: #BB1919;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #BB1919;
  border-radius: 5px;
}

mat-form-field {
  width: 100%;
}

.mat-checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.mat-button {
  margin-top: 20px;
}

/* Styles pour le menu top */
.menu_top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 5px;
}

/*#endregion old_version*/


ul {
  margin-bottom: 0;
}

.mobile {
  display: none;
}

/*#region mobile*/
@media only screen and (max-width: 600px) {
  .menu-haut {
    display: none;
  }

  .card_jecha_light {
    width: 375px;
  }

  .screen {
    display: none;
  }

  .mobile {
    display: block;
  }

  .accordion-body {
    padding: 0;
  }

  .rowmobile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;

  }

  .afficher_ligne {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    align-content: center;

  }
  .display_flex_column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;

  }

}

/*#endregion old_version*/


/*#region site usi*/
.menu_usi {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #BB1919;
  border-radius: 3px;
  transition: background 0.3s ease;
}

.menu_usi:hover {
  background: #000000;
}

/* Styles pour l'animation au survol */
.text_menu_usi::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background: #BB1919;
  transition: width 0.3s ease, left 0.3s ease;
}

.btn-ivry {
  /* Hérite des propriétés de la classe .btn de Bootstrap */
  @extend .btn-danger !optional;
  /* Ajoutez vos propres propriétés personnalisées ici */
  background: #BB1919;
  color: white;
}

.btn-ivry:hover {
  /* Hérite des propriétés de la classe .btn de Bootstrap */
  @extend .btn-danger !optional;
  color: #BB1919;
}


.menu_usi:hover .text_menu_usi::after {
  width: 100%;
  left: 0;
}

/*#endregion site_usi*/


.table-container {
  width: 100%;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

.card-container {
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

/* Styling des lignes impaires */
tr:nth-child(odd) {
  background-color: #f8f8f8;
}

/* Hover sur les lignes */
tr:hover {
  background-color: #f2f2f2;
}

/* Boutons dans les cellules */
.button-cell {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-cell button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.edit-button {
  background-color: #007bff;
}

.delete-button {
  background-color: #dc3545;
}

/* Style pour le select multiple */
select[multiple] {
  width: 100%;
  height: auto;
}


/* Styles pour les cases à cocher */
input[type="checkbox"] {
  margin-right: 10px;
}

label.checkbox-label {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

/* Styles pour le toggle switch (checkbox stylisée) */
.toggle-switch {
  position: relative;
  display: inline-block;
  margin-left: 3px;
  width: 50px;
  height: 24px;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 24px;
  background-color: #ccc;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-switch-label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-label {
  background-color: #4caf50;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-label:before {
  transform: translateX(26px);
}



.alert_KO {
  padding: 5px;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: #6B1A54;
  background-color: #F8D7DA;
  color: #6B1A54;
}

.label-groupe {
  cursor: pointer;
  gap: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.label_logo{
  border-color: black;
  border-style: solid;
  cursor: pointer;
  border-radius: 10px;
  border-width: thin;
  display: flex;
  flex-direction: row;
  gap: 2px;
  padding: 2px;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.label_mail{
  font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline
}
.span_label_logo{
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.display_list_label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
}

.alert_OK {
  padding: 5px;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: #15572A;
  background-color: #D4EDDA;
  color: #15572A;
}

.alert_Warning {
  padding: 5px;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: #A56404;
  background-color: #FFF3CD;
  color: #A56404
}

.alert_info {
  padding: 5px;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: #0C548F;
  background-color: #D1ECF1;
  color: #0C548F
}

.div_flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.present {
  color: green;
}

.absent {
  color: red;
}

.non_inscrit {
  color: gray;
}


/*#region ma_seance_text*/
.url {

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  cursor: pointer;
  color: $purple;
  text-decoration: none;

  &:hover {
    /* hover */

    filter: drop-shadow($purple);
    text-decoration: underline;
  }

  &:visited {
    color: $purple-shadow;

  }


}

.small_jecha {
  color: red;
  font-style: italic;
  font-size: 10px;
  width: 350px;
  text-align: left;
}

.text_menu_admin {
  margin-left: 3px;
  text-transform: uppercase;
  margin-right: 3px;
  border: none;
  background-color: transparent;
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 25% */
  text-align: right;
  letter-spacing: 0.05em;
  color: #000000;

  &:hover {
    /* Property 1=on_focus */
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 25% */
    text-align: right;
    letter-spacing: 0.075em;
    color: #000000;
  }
}

.text_menu {
  margin-left: 5px;
  text-transform: uppercase;
  margin-right: 5px;
  border: none;
  background-color: transparent;
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 25% */
  text-align: right;
  letter-spacing: 0.05em;
  color: #000000;

  &:hover {
    /* Property 1=on_focus */
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 25% */
    text-align: right;
    letter-spacing: 0.075em;
    color: #000000;
  }
}

.login_text {
  font-family: 'Source Sans 3', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 5px;
  /* identical to box height, or 25% */
  text-align: right;
  letter-spacing: 0.1em;

  color: #FFFFFF;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.title_label {
  width: 350px;
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  color: #000000;
}

.menu_selected {
  color: $purple;
  font-weight: 800;
}




/*#endregion*/
/*#region ma_seance_input*/
.input_jecha {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  gap: 10px;
  width: 350px;

  background: rgba(243, 242, 242, 0.5);
  border: 1px solid rgba(133, 124, 136, 0.5);
  border-radius: 10px;
}


.select_jecha {

  width: 350px;
  height: 25px;

  background: rgba(243, 242, 242, 0.5);
  border: 1px solid rgba(133, 124, 136, 0.5);
  border-radius: 10px;
}

.input_error {
  border-block-color: red;
}

.textarea_jecha {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  gap: 10px;
  width: 350px;

  background: rgba(243, 242, 242, 0.5);
  border: 1px solid rgba(133, 124, 136, 0.5);
  border-radius: 10px;
}

/* webkit solution */
::-webkit-input-placeholder {
  text-align: right;
  font-style: italic;
}

/* mozilla solution */
input:-moz-placeholder {
  text-align: right;
  font-style: italic;
}



/*#endregion*/
/*#region ma_seance_btn*/
.button {
  cursor: pointer;
  transform: scale(0.9);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 10px;
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 31% */
  text-align: left;
  letter-spacing: 0.1em;

  color: #FFFFFF;

  &:hover {
    transform: scale(1);
  }
}

.active_radio_bouton {

  border-color: $purple;
  background: $purple;
  color: white;
}

.inactive_radio_bouton {

  border-color: $purple;
  background: white;
  color: $purple;
}

.login_button {

  border-color: #004cffb9;
  box-shadow: 0px 4px 4px #004cffb9;
  background: #004CFF;

}

.action_button {

  border-color: rgba(3, 168, 3, 0.75);
  background: #03A803;
  box-shadow: 0px 4px 4px rgba(3, 168, 3, 0.75);

}

.outline_action_button {
  border-color: rgba(3, 168, 3, 0.75);
  background: white;
  color: rgba(3, 168, 3, 0.75);;
  box-shadow: 0px 4px 4px rgba(3, 168, 3, 0.75);
}

.outline_login_button {
  border-color: #004cffb9;
  background: white;
  color: #004cffb9;
  box-shadow: 0px 4px 4px #004cffb9;
}

.outline_quit_button {
  border-color: red;
  background: white;
  color: red;
  box-shadow: 0px 4px 4px red;
}

.disabled_button {
  transform: scale(0.9);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 10px;
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 31% */
  text-align: left;
  letter-spacing: 0.1em;

  color: #FFFFFF;
  border-color: rgb(100, 100, 100);
  background: gray;
  box-shadow: 0px 4px 4px gray;
}



.menu_button {
  background-color: $purple;
  border-color: $purple;
  box-shadow: 0px 4px 4px $purple-shadow;
}

.quit_button {
  background-color: #FF0000;
  border-color: #FF0000;
  box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.75);
}

.button_menu_url {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: transparent;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  cursor: pointer;
  color: $purple;
  text-decoration: none;

  &:hover {
    /* hover */

    filter: drop-shadow($purple);
    text-decoration: underline;
  }
}

.text_title_card_jecha {

  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #f7f5fa;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.text_title_card_jecha_light {

  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;

  color: #F8F2FF;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.title_content_text_subcard_jecha {


  font-family: 'math';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  /* or 100% */
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: flex-end;

  color: #000000;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}



.table_th {


  font-family: 'math';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  color: #000000;
}

.filered_th {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  font-family: "math";
}

.filered_th_head{
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.bloc_jecha {
  border-block-color: #5D3891;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  align-content: flex-start;
  justify-content: flex-start;
}


.table_td {

  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 156% */
  text-transform: capitalize;

  color: #000000;
}



/*#endregion*/
/*#region ma_seance_autre*/
.svg {
  transform: scale(0.9);

  &:hover {
    transform: scale(1);
    cursor: pointer;
  }
}

.fillgreen{
  fill:green;
}

.login_svg {
  width: 16px;
  height: 16px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.arrows {

  width: 20px;
  height: 11px;

}

.svg-down {
  transform: matrix(1, 0, 0, -1, 0, 0) scale(0.9);

  &:hover {
    transform: matrix(1, 0, 0, -1, 0, 0) scale(1);
    cursor: pointer;
  }
}

.line {

  width: 100%;
  border: 1px solid #5D3891;
  transform: rotate(0.04deg);
  margin: 10px 0px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}


.edit_text_title_card_jecha {
  width: 20px;
  height: 20px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/*#endregion*/
/*#region ma_seance_container*/

.multi_card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.button_group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.groupe_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 5px;
  justify-content: flex-start;
  max-width: 350px;
  align-content: space-between;
}

.input_and_button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 350px;
}

.container_jecha {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 100%;
  height: 100%;

  border: 1px solid rgba(133, 124, 136, 0.5);

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

.rectangle {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  gap: 31px;

  width: 520px;
  height: 394px;

  background: #FFFFFF;
  box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, 0.25);

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}


.main_body {
  padding-top: 65px;
}

.menu_top_admin {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu_connected {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.menu_compte {
  margin-left: 5px;
  text-transform: uppercase;
  margin-right: 5px;
  border: none;
  background-color: transparent;
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 25% */
  text-align: left;
  color: #000000;


  &:hover {
    /* Property 1=on_focus */


    font-weight: 600;
    /* identical to box height, or 25% */

    color: #000000;


  }
}

.menu_left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.menu_right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.card_jecha {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-bottom: 25px;
  gap: 5px;


  background: #FFFFFF;
  box-shadow: 4px 8px 8px 4px rgba(93, 56, 145, 0.75);

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.card_jecha_light {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px;
  margin: 15px;
  width: 600px;
  gap: 8px;
  background: #FFFFFF;
  box-shadow: 8px 8px 8px 8px rgba(93, 56, 145, 0.75);
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  flex-wrap: wrap;
  align-content: center;
}



.title_card_jecha {

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 20px;

  background: #5D3891;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.title_card_jecha_light {

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  gap: 5px;

  background: #5D3891;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.subcard_jecha {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.content_card_jecha {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0px;
  gap: 5px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.content_card_jecha_center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 5px;
  flex: none;
  order: 1;
  flex-grow: 0;
}


.content_subcard_jecha {
  flex: none;
  order: 2;
  flex-grow: 0;
}

.title_content_subcard_jecha {


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 15px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-wrap: wrap;
  align-self: stretch;
  flex-grow: 0;
}

/*#endregion*/