<h2>Registration form</h2>
<div class="row">
  <div class="col-6">
    <form (ngSubmit)="submitForm()" #teamForm="ngForm">
      <div class="form-group">
        <label for="nom_long">Long Name:</label>
        <input class="form-control" type="text" id="nom_long" name="nom_long" [(ngModel)]="team.nom_long" required>
      </div>

      <div class="form-group">
        <label for="nom_court">Short Name: (3 caracters maximum) </label>
        <input type="text" id="nom_court" class="form-control" name="nom_court" [(ngModel)]="team.nom_court" required
          maxlength="3">
      </div>

      <div class="form-group">
        <label for="couleur_1">Color 1:</label>
        <input type="color" id="couleur_1" class="form-control" name="couleur_1" [(ngModel)]="team.couleur_1" required>
      </div>

      <div class="form-group">
        <label for="couleur_2">Color 2:</label>
        <input type="color" id="couleur_2" class="form-control" name="couleur_2" [(ngModel)]="team.couleur_2">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="form-group">
        <label for="pays">Country:</label>
        <input type="text" class="form-control" id="pays" name="pays" [(ngModel)]="team.pays" required>
      </div>

      <div class="form-group">
        <label for="sexe">Tournament:</label>
        <select id="sexe" class="form-control" name="sexe" [(ngModel)]="team.sexe" required>
          <option value="0">Women tournament</option>
          <option value="1">Men tournament</option>
        </select>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="teamForm.invalid">Submit</button>
      <label>The registration will be validated after the paiement on : <a
          href="https://www.helloasso.com/associations/us-ivry-roller/evenements/rollball-tournament?_ga=2.162999039.276828212.1697526064-899161207.1691178614&_gl=1%2a17od3sz%2a_ga%2aODk5MTYxMjA3LjE2OTExNzg2MTQ.%2a_ga_TKC826G3G2%2aMTY5NzU1NTY3OC4zMy4xLjE2OTc1NTU4ODMuNDUuMC4w">Women
          Tournament</a></label>
    </form>
  </div>
</div>