<div class="container">
    <div class="row">
        <div class="col-12">

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ng-container *ngFor="let mail of mails">
                <div class="row">
                    <div class="col-sm-2">
                        {{mail.subject}}
                    </div>
                    <div class="col-sm-2">
                        {{mail.to}}
                    </div>
                    <div class="col-sm-8">
                        {{mail.content}}
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>